{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <img src="https://www.google.kz/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwi8opzn1tnXAhVGLZoKHau3DLEQjRwIBw&url=https%3A%2F%2Fwww.peta.org%2Fliving%2Fcompanion-animals%2Fcaring-animal-companions%2Fcaring-rabbits%2F&psig=AOvVaw1qmjj4Uq3vN0h718zjiRkY&ust=1511697669704843" width="100" height="100" alt="">
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endblock %}